.active{
    background-color: grey;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .navbar-default{
    box-sizing: border-box;
    position: relative;
    display: -ms-flexbox;
    display: flex;    
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;    
    -ms-flex-align: center;    
    align-items: center;    
    -ms-flex-pack: justify;    
    justify-content: center !important; 
    padding: .5rem 1rem;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .webIcon{
    height: 300px;
    width: 300px;
    border-radius: 10px;
  } .top{
      text-align: center;
  }